<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPress</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/homenavbar')  %> 
    
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-3">Bem vindo </h1> <h3 class="display-4"> ao BlogPress!</h3>
            <p class="lead">Este é um simples blog feito em um curso de Node.JS<p>
            <hr class="my-4">
            <p>Ele usa tecnologias como Node, Express, Bootstrap, MySql, Sequelize, EJS e Slugify! <p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
            </p>
        </div>

        <hr>
        <% articles.forEach((article) => { %>
            
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title  %> </h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="/<%= article.slug  %>">Ler artigo</a>
                </div>
            </div>
            <br>

        <% }) %>
        
        <div class="row">
            <div class="col col-12">
                <a style="float: right" class="btn btn-success" href="/articles/page/2">Next page</a>
            </div>
        </div>
        
    </div>


</body>
<%- include('partials/scripts')  %> 