<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogPress || Usuários</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <%- include('../../partials/navbar'); %>
    <div class="container">
      <hr/>
      <h2>Usuários:</h2>
      <hr/>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) => { %>
          <tr>
            <th><%= user.id %></th>
            <th><%= user.email %></th>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/admin/users/new" class="btn btn-success">Criar usuário!</a>
    </div>
  </body>
  <%- include('../../partials/scripts'); %>
</html>
